@using RS1_2020_01_30.VM;

@model TakmicenjePrikazVM


<body>
    <div class="container">
        <br /><br /><br />
        <h3>Škola domaćin: @Model.OdabranaSkola</h3>
        <h3>Razred: @Model.OdabraniRazred</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Takmicenje ID</td>
                    <td>Predmet</td>
                    <td>Razred</td>
                    <td>Datum</td>
                    <td>Broj učesnika koji nisu pristupili</td>
                    <td>Najbolji učesnik(Škola | Odjeljenje | Ime i prezime)</td>
                    <td>Akcija</td>
                </tr>
            </thead>
            <tbody>
                @foreach (TakmicenjePrikazVM.Row x in Model.ListaTaknmicenja)
                {
                    <tr>
                        <td>@x.TakmicenjeID</td>
                        <td>@x.Predmet</td>
                        <td>@x.Razred</td>
                        <td>@x.Datum</td>
                        <td>@x.BrojUcesnik_NisuPristupili</td>
                        <td>@x.NajboljiUcesnik</td>
                        <td><a href="/Takmicenje/Rezultati?idtakm=@x.TakmicenjeID">Rezultati</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary"href="/Takmicenje/Dodaj?idSkola=@Model.OdabranaSkolaID">Dodaj</a>

</body>