@using RS1_2019_12_02.VM
@{ 
    Layout = null;
}

@model AjaxIndexVM

<body>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Ucenik</td>
                    <td>Odjeljenje</td>
                    <td>Broj u dnevniku</td>
                    <td>Prisutan na ispitu</td>
                    <td>Rezultati maturskog(max 100)</td>
                    <td>Akcija</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.ListaPopravniIspitStavke)
                {
                <tr>
                    <td>@x.UcenikNaziv</td>
                    <td>@x.OdjeljenjeOznaka</td>
                    <td>@x.BrojDnevnik</td>
                    @if (x.Bodovi == -1)
                    {
                        <td><p>Nema pravo na popravni ispit</p></td>
                        <td>0</td>
                    }
                    else
                    {
                        @if (x.IsPrisutan)
                        {
                            <td>
                                <a class="btn btn-success"
                                   asp-controller="Ajax"
                                   asp-action="NijePrisutan"
                                   asp-route-PopravniStavkaID="@x.PopravniIspitStavkeID">DA</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-danger"
                                   asp-controller="Ajax"
                                   asp-action="Prisutan"
                                   asp-route-PopravniStavkaID="@x.PopravniIspitStavkeID">NE</a>
                            </td>
                        }
                        <td><input class="Bodovi" id="@x.PopravniIspitStavkeID" value="@x.Bodovi" /></td>


                    }
                    <td>
                        <a asp-controller="Ajax"
                           asp-action="Uredi"
                           asp-route-PopravniStavkaID="@x.PopravniIspitStavkeID"
                           ajax-poziv="da"
                           ajax-rezultat="AjaxDiv">Uredi</a>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</body>
<script>
    function UpdateBodovi() {
        $("input.Bodovi").focusout(function (e, status) {
            var id = $(this).attr("id");
            var bodovi = $(this).val();

            $.post("/Ajax/UpdateBodovi?PopStavkaID=" + id + "&NoviBodovi=" + bodovi);
        });
    }
    $(document).ready(function () {
        UpdateBodovi();
    });
    $(document).ajaxComplete(function () {
        UpdateBodovi();
    });
</script>