@using RS1_2019_06_25.VM

@model IspitniTerminPrikazVM

<body>
    <div class="container">
        <br /><br /><br />
        <input hidden asp-for="@Model.AngazmanID" />
        <div>
            <label>Predmet</label>
            <input readonly asp-for="@Model.PredmetNaziv" />
        </div>
        <div>
            <label>Nastavnik</label>
            <input readonly asp-for="@Model.NastavnikNaziv" />
        </div>
        <div>
            <label>Akademska godina</label>
            <input readonly asp-for="@Model.AkademskaGodinaNaziv" />
        </div><br /><br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Datum ispita</td>
                    <td>Broj studenata koji nisu polozili</td>
                    <td>Broj prijavljenih studenata</td>
                    <td>Evidentirani rezultati</td>
                    <td>Akcija</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.listaIspita)
                {
                <tr>
                    <td>@x.DatumIspita</td>
                    <td>@x.BrojNisuPolozili</td>
                    <td>@x.BrojPrijavili</td>
                    @if (x.IsZakljucano)
                    {
                        <td>Da</td>
                    }
                    else
                    {
                        <td>Ne</td>
                    }
                    <td>
                        <a asp-controller="IspitniTermin"
                           asp-action="Detalji"
                           asp-route-IspitniTerminID="@x.IspitniTerminID">Detalji</a> |
                        <a asp-controller="IspitniTermin"
                           asp-action="Zakljucaj"
                           asp-route-IspitniTerminID="@x.IspitniTerminID">Zakljucaj</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary"
           asp-controller="IspitniTermin"
           asp-action="Dodaj"
           asp-route-AngazmanID="@Model.AngazmanID">Dodaj</a>
    </div>
</body>