@using RS1_2020_01_30.VM;

@model AjaxIndexVM


<body>
    <div class="container">
        <br /><br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Odjeljenje</td>
                    <td>Broj u dnevniku</td>
                    <td>Pristupio</td>
                    <td>Rezultati bodovi (max 100)</td>
                    <td>Akcija</td>
                </tr>
            </thead>
            <tbody>
                @foreach (AjaxIndexVM.Row x in Model.ListaTakmUces)
                {
                    <tr>
                        <td>@x.Odjeljenje</td>
                        <td>@x.BrojDnevnik</td>
                        @{
                            if (x.IsPristupio == true)
                            {
                                <td><a class="btn btn-success" asp-controller="Ajax" asp-action="UcenikNijePristupio"
                                       asp-route-idTakmUc="@x.TakmicenjeUcesnikId">DA</a></td>
                                <td><input class="Bodovi" id="@x.TakmicenjeUcesnikId" type="number" asp-for="@x.BodoviRezultat" /></td>
                                <td><a asp-controller="Ajax" asp-action="Uredi" asp-route-TakmicenjeUcID="@x.TakmicenjeUcesnikId"
                                       ajax-poziv="da" ajax-rezultat="AjaxDiv" ajax-url="/Ajax/Uredi?TakmicenjeUcID=@x.TakmicenjeUcesnikId">Uredi</a></td>
                            }
                            else
                            {
                                <td><a class="btn btn-danger" asp-controller="Ajax" asp-action="UcenikJePristupio"
                                         asp-route-idTakmUc="@x.TakmicenjeUcesnikId">NE</a></td>
                                <td><input asp-for="@x.BodoviRezultat" /></td>
                                <td></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-controller="Ajax" asp-action="Dodaj" asp-route-TakmicenjeID="@Model.TakmicenjeID"
           ajax-poziv="da" ajax-rezultat="AjaxDiv" ajax-url="/Ajax/Dodaj?TakmicenjeID=@Model.TakmicenjeID">Dodaj učesnika</a>

        <br />
        <br />
    </div>
    
</body>

<script>
    function UpdateBodovi() {
        $("input.Bodovi").focusout(function (e, status) {
            var id = $(this).attr("id");
            var bodovi = $(this).val();

            if (bodovi >= 0 && bodovi <= 100) {
                $.post("/Ajax/UpdateBodovi?id=" + id + "&bodovi=" + bodovi);
            }
        });
    }
    $(document).ready(function () {
        UpdateBodovi();
    });

    $(document).ajaxComplete(function () {
        UpdateBodovi();
    });


</script>